/*responsive design css

/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {
    .main-content{
        width:100%;
       
    }
    nav{
        width:100%;
         margin: 0px;
         border:none;
         /* margin-left: 0px;
         margin-right: 0px; */
    
    }
    nav a{
        font-size: 1em; 
        /* margin-left: 0px;
      margin-right: 0px;
      border:none; */
    }
    .create-button {
        height: 55px;
        width:150px;
        font-size:medium;
    }
    .create-button:hover{
        font-size: 1.4em;
    }
    .poem-type-button{

        height: 40px;
        width:120px;
        font-size:x-small;
        margin-right: 2%;
        margin-left: 5%;
        margin-top: 10px;
        margin-bottom: 5%;
         display: flex;
        justify-content:center;
        align-items: center;
        padding: 15px;
    
  
        
        
    }
    .poem-type-button:hover{
        font-size: small;

    }
    .about-div-main {
        width: 100%;
        font-size: 1em;
    }


}
    
    
    
    /* Small devices (portrait tablets and large phones, 320px and up) */
    @media only screen and (min-width:320px) {
        .main-content{
            width:100%;
           
        }
        nav{
            width:100%;
             margin: 0px;
             border:none;
        
        }
        nav a{
            font-size: 1em; 
        }
        .create-button {
            height: 55px;
            width:150px;
            font-size: 2em;
        }
        .create-button:hover{
            font-size: 1.4em;
        }
        .poem-type-button{
    
            height: 40px;
            width: 120px;
                font-size:medium;
                margin-right: 1%;
                margin-left: 10%;
                margin-top: 5%;
              
            
        }
        .poem-type-button:hover{
            font-size: 1.4em;    
        }
        .about-div-main {
            width: 100%;
            font-size: 1em;
            height: auto;
        }
        #devsImage1,
        #devsImage2,
        #devsImage3,
        #devsImage4,
        #devsImage5,
        #devsImage6,
        figcaption  {
            max-width: 100%;
            margin-right: 10%;
            margin-left: 10%;
            margin-top: 0;
            margin-bottom: 0;
          

         }
    
    
    }
    
    /* Medium devices (landscape tablets, 480px and up) */
    @media only screen and (min-width: 480px) {

        .main-content{
            width:100%;
           
        }
        .main-hearder{
            width: 100%;
           
        }
        nav{
            width:100%;
             margin: 0px;
             border:none;
        
        }
        nav a{
            font-size: 1.4em; 
        }
        .create-button {
            height: 55px;
            width:150px;
            font-size: 2em;
        }
        .create-button:hover{
            font-size: 1.4em;
        }
        .poem-type-button{
    
            height: 60px;
            width: 180px;
                font-size:medium;
                margin-right: 1%;
                margin-left: 10%;
                margin-top: 5%;
              
            
        }
        .poem-type-button:hover{
            font-size: 1.4em;    
        }
        .about-div-main {
            width: 80%;
            height: auto;
            font-size: 1.5em;
        }
        img { max-width: 100%; }

    
    }
    
    /* Large devices (laptops/desktops, 640px and up) */
    @media only screen and (min-width: 640px) {
        .main-content{
            width:100%;
           
        }
        nav{
            width:100%;
             margin: 0px;
             border:none;
        
        }
        nav a{
            font-size: 1.4em; 
        }
        .create-button {
            height: 55px;
            width:150px;
            font-size: 2em;
        }
        .create-button:hover{
            font-size: 1.4em;
        }
        .poem-type-button{
    
            height: 75px;
            width: 250px;
                font-size:medium;
                margin-right: 1%;
                margin-left: 10%;
                margin-top: 5%;
              
            
        }
        .poem-type-button:hover{
            font-size: 1.4em;    
        }
    
    }
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
    
    }