.header{
    margin: auto;
}
#div--panels-wrapper{
    display: flex;
    flex-direction: row;
}
#textEditor-menu{
    display: flex;
    flex-direction: row;
}
#div--right-panel{
    padding: 0px;
    margin: 0px;
}
.div--right-panel-item{
    border: 1px solid gray;
    margin: 10px;
    width: 600px;
    height: 200px
}
#div--poem-type{
    margin: 0px 0px 0px 10px;
}
.section--discover-subsection{
    margin: 20px auto 20px auto;
    border: 1px solid gray;
    width: 50%;
    height: 166px;
}
/*nav{
    display: flex;
    justify-content: space-between;
    margin: 20px auto 20px auto;
    padding: auto;
    border: 1px solid gray;
    width: 100%;
    height: 66px;
}*/
/* body { 
    font: 400 16px/1.4 'serif';
    }
*/
#container, #containerHeader{
    text-align: center;
    cursor:move;
}
#editor1 {
    border: 1px solid grey;
    height: 400px;
    width: 602px;
    margin: 0px auto 0;
    padding: 10px;
    overflow: auto;
   }
fieldset {
    margin: 2px auto 0px;
    background-color: #F2F2F2;
    border:none;
}
fieldset > button {
    width: 5ex;
    text-align: center;
    justify-items: center;
    padding: 1px 3px;
    height:30px;
    width:30px;
    background-repeat: no-repeat;
    background-size: cover;
    border:none;
}
/*#container img{                         /*This isn't working right now, but the new image and path are correct
    background-image: url(/frontend/images/new-red-book-0224.png);
      width:100%;
}
#container .color-apply{
    width: 20px;
}
*/
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text);
    color:#888;
}
#container .loader {
    border: 6px solid #F3F3F3; 
    border-top: 6px solid #3498DB; 
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    line-height: 20px;
}
#bold-image,
#italic-image,
#underline-image,
#strikethrough-image,
#alignleft-image,
#alignright-image,
#aligncenter-image,
#redo-image,
#undo-image {
    height: 25px;
}
#font-input {
    height: 25px;
}

.wrapperForFlexboxOrGrid{
    display: flex;
    flex-direction: row;
}

#leftColumn{
    min-width: 1fr;
}

#rightColumn{
    min-width: 500px;
    justify-content: right;
    text-align: right;
}

#div--count-of-syllables-per-line{
    width: 25px;
    height: 790px;
    position: absolute;
    top: 72px;
    left: 712px;
    padding: 15px 0px 0px 5px;
}

.editorContainer{
    position: relative;
}

#devsImage1,
#devsImage2,
#devsImage3,
#devsImage4,
#devsImage5,
#devsImage6 {
    width: 200px;
}

.devs-div-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
