.header{
    margin: auto;
}
#div--right-panel{
    padding: 0px;
    margin: 0px;
}
.div--right-panel-item{
    border: 1px solid gray;
    margin: 10px;
    width: 600px;
    height: 200px
}
#div--poem-type{
    margin: 0px 0px 0px 10px;
}
.section--discover-subsection{
    margin: 20px auto 20px auto;
    border: 1px solid gray;
    width: 50%;
    height: 166px;
}
#container, #containerHeader{
    text-align: center;
    cursor:move;
}
#editor1 {
    border: 1px solid grey;
    height: 400px;
    width: 602px;
    margin: 0px auto 0;
    padding: 10px;
    overflow: auto;
    background-color: rgba(255, 255, 255, .5);
   }
fieldset {
    margin: auto;
    background-color: #F2F2F2;
    width: 600px;
    border:none;
}
fieldset > button {
    width: 5ex;
    text-align: center;
    justify-items: center;
    padding: 1px 3px;
    height:30px;
    width:30px;
    background-repeat: no-repeat;
    background-size: cover;
    border:none;
}

#container .color-apply{
    width: 20px;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text);
    color:#888;
}
#container .loader {
    border: 6px solid #F3F3F3; 
    border-top: 6px solid #3498DB; 
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    line-height: 20px;
}
#bold-image,
#italic-image,
#underline-image,
#strikethrough-image,
#alignleft-image,
#alignright-image,
#aligncenter-image,
#redo-image,
#undo-image {
    height: 25px;
}
#font-input {
    height: 25px;
}

#leftColumn{
    min-width: 33vw;
    margin-left: 3rem;
    padding: 1rem;
}

.editor-div{
    width: 600px;
    margin: auto;
    position: relative;
}

#rightColumn{
    min-width: 33vw;
    justify-content: right;
    padding: 1rem;
}

#rightColumn a {
    font-size: 1em;
    text-decoration: none;
}

#div--count-of-syllables-per-line{
    width: 25px;
    height: 790px;
    position: absolute;
    top: 28px;
    left: 577px;
    padding: 15px 0px 0px 5px;
}

#devsImage1,
#devsImage2,
#devsImage3,
#devsImage4,
#devsImage5,
#devsImage6,
figcaption {
    width: 200px;
    padding: 1rem;
}
.discover-div-main a,
.discover-div-main p,
.discover-div-main h2 {
    font-size: 1em;
    margin-left: 10px;
    overflow: auto;
}
.typeOfPoemBox {
    margin-top: 150px;
}
