.header{
    margin: auto;
}

#div--panels-wrapper{
    display: flex;
    flex-direction: row;
}

#div--left-panel{
}

#textEditor-menu{
    display: flex;
    flex-direction: row;
}

#div--right-panel{
    padding: 0px;
    margin: 0px;
}


.div--right-panel-item{
    border: 1px solid gray;
    margin: 10px;
    width: 600px;
    height: 200px
}

#div--poem-type{
    margin: 0px 0px 0px 10px;
}

.typeOfPoemBox{
}

.section--discover-subsection{
    margin: 20px auto 20px auto;
    border: 1px solid gray;
    width: 50%;
    height: 166px;
}

#nav-bar{
    margin: 20px auto 20px auto;
    padding: auto;
    border: 1px solid gray;
    width: 100%;
    height: 66px;
}

#div--count-of-syllables-per-line{
    width: 25px;
    height: 790px;
    position: absolute;
    top: 146px;
    left: 803px;
    border: 1px solid black;
}

#editor1 div{
    border-bottom: solid 1px red;
}